<ul class="nav nav-tabs">
  <li >
	<%= link_to "Add User", new_user_path %>
  </li>
  <li class="active">
  	<%= link_to "View Users", users_path %>
  </li>
</ul>

<table id="users" class="display" >
  <thead>
    <tr>
      <th>Email</th>
      <th>User Type</th>
    </tr>
  </thead>
  <tbody>
  	<% @users.each do |u| %>
  	<td><%= u.email %></td>
  	<td><%= u.user_type %></td>
  	<% end %>
  </tbody>
</table>